.layout {
    display: flex;
  }
main{
    width: 100%;
    color: #ccc;;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    flex-shrink: 0;
    background-color: white;
    overflow: auto;
    color: dark;
    transition: all 0.5s;
}
.bars {
    display: flex;
    font-size: 25px;
    margin-left: 70px;
    cursor: pointer;
    color: var(--color-white);
    transition: all 0.3s;
  }

  .bars:hover {
    color: var(--color-primary);
    font-size: 27px;
  }

.sidebar-item {
    padding: 0.75em 1em;
    display: block;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.15s;
  }

  .s-parent {
    border-bottom: 2px solid #ccc;
  }

  .sidebar-item:hover {
    background-color: #eee;
  }

  .sidebar-title {
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar-title span {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    transition: all 0.5s;
    font-size: 1.6rem;
  }

  .sidebar-title span .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    font-size: 25px;
  }

  .sidebar-title .arrow-icon {
    cursor: pointer;
    transition: all 0.5s;
  }

  .sidebar-item.open > .sidebar-title .arrow-icon {
    transform: rotate(90deg);
  }

  .sidebar-content {
    padding-top: 0.25em;
    height: 0;
    overflow: hidden;
  }

  .sidebar-item.open > .sidebar-content {
    height: auto;
  }
  
  .s-child {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
  }

  .s-child:hover {
    border: 1px solid #3965bd;
  }

  a {
    color: var(--colo-dark);
    text-decoration: none;
    transition: all 0.2s;
  }

  .active {
    color: 	#0000ff;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #eee;
  }

  .active::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #3965bd;
  }

  .sublink .sidebar-item .sidebar-title {
    padding-left: 40px;
  }

  .--flex-between {
    display: flex;
    justify-content: space-between;
}

.--fw-thin {
    float: left;
    font-weight: 100;
    margin-right: 5px;
}

div h3 span.--color-danger {
    float: left;
    color: red;
}
div h3 span.--color-danger.blue {
  float: left;
  color: white;
  background-color: #0000ff;
}

/*.--btn- {
    position: absolute;
    right: 0;
    padding: 5px;
    color: white;
}*/

.--btn-danger {
    color: #ff0e0e;
}

.top_section {
    background-color: rgb(135, 185, 174);
    height: 7.4%;
    color: white;
}

.--center-all{
  margin: auto;
  width: 50%;
}

